<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="SU21_Final_Project.Properties.Settings.ConnectionString"
   connectionString="Persist Security Info=False;User ID=HackK21Su2332;Password=1791953;Initial Catalog=inew2332su21;Server=cstnt.tstc.edu" />
 </connectionStrings>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>