<html>
<head>
    <title>Person ID: {ID}</title>
    <style>
        body {
            font-family: tahoma;
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>Employee Info</h1>
    <div style="float:left">
        <div>{Date}</div>
    </div>
    <div style="clear:both"></div>
    <table style="width:100%" border="1" cellpadding="3" cellspacing="0">
        <tr>
            <th align="left" style="background-color: #ddd">First Name</th>
            <th align="left" style="background-color: #ddd">Last Name</th>
            <th align="left" style="background-color: #ddd">PayRate</th>
            <th align="left" style="background-color: #ddd">Position</th>
            <th align="left" style="background-color: #ddd">Email</th>
            <th align="left" style="background-color: #ddd">Phone#</th>
        </tr>
        {Info}
    </table>
</body>
</html>